.modal-content {
    background-color: white;
   
    border-radius: 30px;
   
    // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
   
}
.text {
    text-align: center;
}
.content {
    display: flex;
}
.history-content {
    padding-right: 40px;
    
    
}

.route-history {
    background-color: #EEF5FF;
    border-radius: 30px;
    text-align: center;
}

.styles-box {
    border: 1px solid #ccc;
    border-radius: 10px;
    //  padding: 5px;
    // height: 100%;
    max-height: 272px;
    overflow-y: auto;
}

/* Trong file CSS của bạn */
.table-container {
    background-color: #B3E5FC;
    /* Màu nền xanh */
    
}

.table-container table {
    width: 100%;
    
    border-collapse: collapse;
}

.table-container th,
.table-container td {
    border: 1px solid #176B87;
    /* Màu viền */
    padding: 8px;
    text-align: center;
    
    
}

.table-container th {
    background-color: #2196F3;
    /* Màu nền xanh của header */
    color: white;
    /* Màu chữ */
}

.wrapper {
    background: #176b87;
    border-radius: 58px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.edit-driver {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Canh giữa theo trục ngang */
    justify-content: center;
    /* Canh giữa theo trục dọc */
    height: 100%;
    /* Đảm bảo tiêu đề được căn giữa trong container */
   
}

.title-name,
.title-fuel,
.title-weight,
.title-size,
.title-species,
.title-status {
    margin-right: 10px;
    margin-left: 30px;
}

.form-group1,
.form-group2,
.form-group3,
.form-group4,
.form-group5 {
    width: 100%;
    display: flex;
    min-width: 100px;
    margin-top: 20px;
    align-items: center;
}

.species {
    margin-right: 10px;
}

.title-weight,
.title-name,
.title-species,
.title-size {
    min-width: 80px;
}

input[type="text"],
input[type="number"],
select {
    flex-grow: 1;
    margin-right: 10px;
    /* Khoảng cách giữa các ô input */
}



.deleted {
    background-color: #176B87;
    padding: 5px;
}

.modal-content-d {
    background-color: #B3E5FC;
    border-radius: 30px;
    padding: 0 30px 30px 30px;
}