.header-card {
  display: flex;
  left: 0;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
}
.header-card-status-on {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #d2fc5a;
}
.header-card-status-off {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #ff4a4a;
}
.header-card-status-maintain {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #b1ccff;
}
.header-driver-status-free {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #b1ccff;
}
.header-driver-status-off {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #f4a4ad;
}
.header-card-name {
  font-size: 20px;
}
